@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.5rem;

  --background: oklch(1 0 89.876);
  --foreground: oklch(0.145 0 89.876);

  --card: oklch(1 0 89.876);
  --card-foreground: oklch(0.145 0 89.876);

  --popover: oklch(1 0 89.876);
  --popover-foreground: oklch(0.145 0 89.876);

  --primary: oklch(0.545 0.215 262.741);
  --primary-foreground: oklch(0.984 0.003 247.858);

  --secondary: oklch(0.968 0.007 247.895);
  --secondary-foreground: oklch(0.208 0.04 265.727);

  --muted: oklch(0.968 0.007 247.895);
  --muted-foreground: oklch(0.555 0.041 257.44);

  --accent: oklch(0.968 0.007 247.895);
  --accent-foreground: oklch(0.208 0.04 265.727);

  --destructive: oklch(0.637 0.208 25.326);
  --destructive-foreground: oklch(0.984 0.003 247.858);

  --border: oklch(0.929 0.013 255.532);
  --input: oklch(0.929 0.013 255.532);
  --ring: oklch(0.546 0.215 262.872);

  --chart-1: oklch(0.677 0.157 35.19);
  --chart-2: oklch(0.631 0.101 183.491);
  --chart-3: oklch(0.379 0.044 225.539);
  --chart-4: oklch(0.834 0.119 88.146);
  --chart-5: oklch(0.783 0.126 58.749);

  /* Sidebar mapping */
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.dark {
  --background: oklch(0.144 0.034 262.747);
  --foreground: oklch(0.984 0.003 247.858);

  --card: oklch(0.144 0.034 262.747);
  --card-foreground: oklch(0.984 0.003 247.858);

  --popover: oklch(0.144 0.034 262.747);
  --popover-foreground: oklch(0.984 0.003 247.858);

  --primary: oklch(0.623 0.188 259.796);
  --primary-foreground: oklch(0.208 0.04 265.727);

  --secondary: oklch(0.268 0.036 263.414);
  --secondary-foreground: oklch(0.984 0.003 247.858);

  --muted: oklch(0.268 0.036 263.414);
  --muted-foreground: oklch(0.746 0.03 258.322);

  --accent: oklch(0.268 0.036 263.414);
  --accent-foreground: oklch(0.984 0.003 247.858);

  --destructive: oklch(0.444 0.14 25.478);
  --destructive-foreground: oklch(0.984 0.003 247.858);

  --border: oklch(0.268 0.036 263.414);
  --input: oklch(0.268 0.036 263.414);
  --ring: oklch(0.488 0.168 262.114);

  --chart-1: oklch(0.585 0.16 264.047);
  --chart-2: oklch(0.673 0.116 174.63);
  --chart-3: oklch(0.715 0.159 59.775);
  --chart-4: oklch(0.692 0.16 309.327);
  --chart-5: oklch(0.651 0.2 13.732);

  /* Sidebar mapping */
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
